@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --main-blue:#213E84;
    --color-white:#fff;
}

.logo{
    width: 5rem;
    height: auto;
    margin-bottom:2rem;
}
.bg-main-blue{
    background-color: var(--main-blue);
    color:var(--color-white);
}
